<Textarea id="c" style="width: 100%;">
Your Comment
</Textarea>
<br>
<div class="row" style="width: 100%; padding: 5px; padding-left: 15px;">
  <select id="s" class="col-1" style=" margin-right: 5px;">
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>
<button (click)="addRating()" class="btn btn-danger col-2" style="height: 30px; padding-top: 0px; padding-bottom: 0px;">
  Comment
</button>
</div>
